body {
  background-image: url(../img/wallpaperflare.com_wallpaper\ \(1\).jpg);
  background-size: 100%;
  /* background-image: url(sourse/img/Снимок\ экрана\ 2023-07-09\ 212359.png); */

  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* лоудер */
.loader {
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
}

.loader .loader_inner {
  background-image: url("../img/39\ \(1\).gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

/* лоудер */

/* Navigation */

.nav-link {
  color: #2E3538;
}

.nav-link:hover {
  color: #237FAF;

}

.navbar-brand:hover {
  color: #237FAF;
}

/* Navigation */

/* section */

.lookatya {
  width: 70%;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.firstname>h2 {
  color: #fff;
  margin: 5rem;
  font-size: 60px;
}

.information {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 30px;
  filter: drop-shadow(0px 0px 33px #FFFFFF);
  width: 80%;
  margin-left: 5rem;

}
.information > p {
  font-size: 1.3rem;
}

.information > h6 {
  font-size: 3rem;
}

.sociali {
  width: 40px;
  filter: invert();
}
.social {
  margin-top: 1rem;
  margin-left: 6rem;
}
.information>h6 {
  font-size: 20px;
}

.row-cols-1 {
  padding-top: 6px;
  -webkit-column-count: 4;
  column-count: 4
}

.vk {
  margin-left: 30px;
  background-color: rgb(38, 85, 255)
}
.vk:hover {
  background-color: rgb(26, 75, 253);
  filter: drop-shadow(0px 0px 33px #1c51ff);
  ;
}
.git {
  background-color: rgb(90, 90, 90);
}
.git:hover {
  background-color: rgb(58, 58, 58);
  filter: drop-shadow(0px 0px 33px #333333);
  ;
}
.btn {
  font-size: 1.5rem;
}
.socialu {
  padding: 5px;
  width: 50px;
  border: solid 1px black;
  border-radius: 13px;


}
.sec {
  display: none;
}
.socialu:hover {
  cursor: pointer;
}
.phantom {
  display: none;
}

/* section */

/* медиа  */
@media (max-width: 1024px) {
  .firstname > h2 {
    font-size: 40px;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .information > p {
    font-size: 18px;
  }
  .btn {
    font-size: 1rem;
  }
  .vk {
    margin-left: 10px;
  }
  .lookatya {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .sec {
    display: block;
  }
  .fir {
    display: none;
  }
  .del {
    display: none;
  }
  .firstname > h2 {
    font-size: 40px;
    margin-right: 0;
    text-align: center;
    margin-top: 2rem;
    margin-left: 0;
  }
  .information > p {
    font-size: 18px;
  }
  .btn {
    font-size: 1rem;
  }
  .vk {
    margin-right: 1rem;
  }
  .git {
    margin-left: 1rem;
  }
  .lookatya {
    width: 60%;
    margin-top: 2rem;
    text-align: center;
  }
  .phantom {
    display: block;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #1f1f1f;

  }
  .social-phantom {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .information {
    margin-left: auto;
    margin-right: auto;
  }
}
/* медиа  */
